#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: center;
}

.label-container input[type="number"] {
  margin-left: 0.5em;
  width: 50px;
}

#daily-checkbox {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

#daily-checkbox input[type="number"] {
  margin-left: 0.5em;
  width: 50px;
}

#label-hours, #label-days {
  margin-left: 1em;
}

#label-days {
  margin-left: 1.8em;
}

#hourly-checkbox label {
  margin-left: 1.8em;
}

#daily-hourly_section {
  display: flex;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
}

#parameters-section {
  display: flex;  /* Display elements horizontally except if there isn't enough space */
  margin-right: 1em;
  margin-left: 1em;
  justify-content: center;
}

#temperature-section, #precipitation-section, #wind-section {
  display: flex;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
}

#get-data {
  /* Add some margin to the button */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  /* Add some padding to the button */
  padding: 0.6em 1.2em;
  /* Edit the border of the button */ 
  border-radius: 8px; /* Rounded corners */
  border: 1px solid transparent; /* Define a border of 1 pixel of width, solid and transparent */
  /* Edot the font of the button */
  font-size: 1em; 
  font-weight: 500;
  font-family: inherit;
  /* Edit the background color of the button */
  background-color: #1a1a1a;
  /* Edit the cursor of the button */
  cursor: pointer;
  /* Add a transition effect to the button */
  transition: background-color 0.05s;
}

#get-data:hover {
  background-color: rgb(94, 92, 92);
}

#get-data:focus {
  outline: none; /* Remove the focus outline for the button */ 
}