#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-the-docs {
  color: #888;
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: center;
}

.label-container input[type="number"] {
  margin-left: 0.5em;
  width: 50px;
}

#daily-checkbox {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

#daily-checkbox input[type="number"] {
  margin-left: 0.5em;
  width: 50px;
}

#label-hours, #label-days {
  margin-left: 1em;
}

#label-days {
  margin-left: 1.8em;
}

#hourly-checkbox label {
  margin-left: 1.8em;
}

#daily-hourly_section {
  display: flex;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
}

#parameters-section {
  display: flex;  /* Display elements horizontally except if there isn't enough space */
  margin-right: 1em;
  margin-left: 1em;
  justify-content: center;
}

#temperature-section, #precipitation-section, #wind-section {
  display: flex;
  justify-content: center;
  margin-right: 1em;
  margin-left: 1em;
}

#get-data {
  /* Add some margin to the button */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  /* Add some padding to the button */
  padding: 0.6em 1.2em;
  /* Edit the border of the button */ 
  border-radius: 8px; /* Rounded corners */
  border: 1px solid transparent; /* Define a border of 1 pixel of width, solid and transparent */
  /* Edot the font of the button */
  font-size: 1em; 
  font-weight: 500;
  font-family: inherit;
  /* Edit the background color of the button */
  background-color: #1a1a1a;
  /* Edit the cursor of the button */
  cursor: pointer;
  /* Add a transition effect to the button */
  transition: background-color 0.05s;
}

#get-data:hover {
  background-color: rgb(94, 92, 92);
}

#get-data:focus {
  outline: none; /* Remove the focus outline for the button */ 
}

#hourly-section, #daily-section {
  /* Display elements in a grid of 3 columns */
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5em; /* Optional: space between grid items */
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%;
}

#hourly-section::-webkit-scrollbar, #daily-section::-webkit-scrollbar {
  height: 10px; /* Height of the scrollbar */
}

#hourly-section::-webkit-scrollbar-thumb, #daily-section::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5) ; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

#h-temperature-section, #h-precipitation-section, #h-wind-section, #d-temperature-section, #d-precipitation-section, #d-wind-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Avoid creating new lines when there isn't enough space */
  align-items: flex-start;
  justify-content: flex-start;
  /* Add some space between the sections */
  margin-right: 1em;
  margin-left: 1em;
  /* Add some space between elements of each section */
  gap: 0.5em;
  /* Minimum size of each section 300px. It can not grow or shrink and it will be as big as it has to show all the elements */
  min-width: 300px;
  flex: 0 0 auto;
}

/*
#h-precipitation-section {
  min-width: 1050px;
  max-width: 1050px;
}

#d-precipitation-section {
  min-width: 1300px;
  max-width: 1300px;
}

#d-wind-section {
  min-width: 500px;
  max-width: 500px;
}

*/

#h-dates, #h-temperatures, #h-cloud-cover, #h-precipitations, #h-precipitation-prob, #h-rain, #h-snowfall, #h-snow-depth,
#h-wind-speed-10m, #h-wind-speed-120m, #d-dates, #d-min-temperature, #d-max-temperature, #d-precipitation-sum, #d-rain-sum, 
#d-snowfall-sum, #d-precipitation-hours, #d-precipitation-prob-mean, #d-wind-speed-10m {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  #h-dates label, #h-temperatures label, #h-cloud-cover label, #h-precipitations label, #h-precipitation-prob label, #h-rain label, #h-snowfall label, #h-snow-depth label,
  #h-wind-speed-10m label, #h-wind-speed-120m label, #d-dates label, #d-min-temperature label, #d-max-temperature label, #d-precipitation-sum label, #d-rain-sum label, 
  #d-snowfall-sum label, #d-precipitation-hours label, #d-precipitation-prob-mean label, #d-wind-speed-10m label {
    /* Edit the font of the labels */
    color: black;
    font-weight: 250;
    font-size: 1em;
    /* Separate the labels between them */
    margin: 5px 10px; 
    /*Edit the borders of the labels */
    border-radius: 8px;
    border: 1px solid transparent;
    /* Edit the background color of the labels */
    background-color: rgba(211, 211, 211, 0.61);
    /* Edit the size of the labels */
    width: 230px;
    height: 40px;
    /* Include the padding and border in the element's total width and height */
    box-sizing: border-box;
    /* Center the content of the labels */
    display: flex;
    align-items: center;
    justify-content: center;
  }